.toggleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: var(--radius-full);
  color: var(--text-primary);
  background-color: transparent;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
}

.toggleBtn:hover {
  background-color: var(--bg-input);
}

@media (max-width: 600px) {
  .toggleBtn {
    width: 32px;
    height: 32px;
  }
  
  .toggleBtn svg {
    width: 20px;
    height: 20px;
  }
}
